@model IEnumerable<CutItUp.Data.Data.Tools.Tap>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/toolCard.css")" />
</head>

@{
    var tokenInfo = Context.Items["TokenInfo"] as TokenInfo;
}

<div class="tool-cards-wrapper">
    @foreach (var item in Model)
    {
        <div class="cardContainer">
            <div class="myCard">
                <div class="front">
                    <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" class="tool-image" />
                    <h2>@item.Name</h2>
                    <p><strong>Cena:</strong> @item.Price zł</p>
                </div>
                <div class="back">
                    <h3>@item.Description</h3>
                    <p><strong>Cena:</strong> @item.Price zł</p>
                    <p><strong>Długość:</strong> @item.Length mm</p>
                    <p><strong>Wymiar:</strong> @item.Dimension mm</p>
                    <p><strong>Materiał:</strong> @item.Material</p>
                    <p><strong>Przelotowy:</strong> @(item.PassThrough == true ? "Tak" : "Nie")</p>

                    <a asp-controller="Tap" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info w-100">Szczegóły</a>

                    @{
                        if (tokenInfo != null && tokenInfo.IsValid)
                        {
                            <form asp-controller="CartTool" asp-action="AddToCart" method="post">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <input type="hidden" name="clientID" value="@tokenInfo.Id" />

                                <input type="number" name="amount" value="1" min="1" max="100" step="1" />
                                <button type="submit" class="btn btn-primary mt-2">Dodaj do koszyka</button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Client" asp-action="Index" class="btn btn-primary">Dodaj do koszyka</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
