@model IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.WhyUsSection>

<div class="container py-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Opis</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody id="reason-list">
            @foreach (var item in Model)
            {
                foreach (var reason in item.Reasons)
                {
                    <tr data-section-id="@item.Id">
                        <td>
                            <form method="post" asp-controller="WhyUsSection" asp-action="EditReason" class="d-flex">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="hidden" name="originalReason" value="@reason" />
                                <input type="text" class="form-control me-2" name="updatedReason" value="@reason" />
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-controller="WhyUsSection" asp-action="Delete">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="hidden" name="reason" value="@reason" />
                                <button type="submit" class="btn btn-danger">Usuń</button>
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        <form method="post" asp-controller="WhyUsSection" asp-action="AddReason" class="add-form">
                            <label for="newReason" class="form-label">Dodaj nowy powód:</label>
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="text" class="form-control me-2" name="newReason" placeholder="Nowy powód" />
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </form>
                    </td>
                </tr>
            }
            

        </tbody>
    </table>

</div>

