@model CutItUp.Data.Data.CMS.Website
<head>
    <link rel="stylesheet" href="~/css/bloksWebsite.css" asp-append-version="true" />
</head>
@{
    var allBlocks = new List<(string Type, string Title, string Description, List<string>? ListItems, string ImageUrl)>();

    allBlocks.AddRange(Model.TitleDecriptionParts.Select(t => (
        Type: "Text",
        Title: t.Title,
        Description: t.Description,
        ListItems: (List<string>?)null,
        ImageUrl: t.ImageUrl
    )));

    allBlocks.AddRange(Model.ListParts.Select(l => (
        Type: "List",
        Title: l.Title,
        Description: l.Description,
        ListItems: l.ListContent,
        ImageUrl: l.ImageUrl
    )));

}

@for (int i = 0; i < allBlocks.Count; i++)
{
    var block = allBlocks[i];
    var isEven = i % 2 == 0;
    var alignmentClass = isEven ? "left-block" : "right-block";
    <div class="block-container @alignmentClass">
        @if (!string.IsNullOrWhiteSpace(block.ImageUrl))
        {
            <div class="block-image">
                <img src="@block.ImageUrl"/>
            </div>
        }
        <div class="block-content">
            <h2>@block.Title</h2>

            @if (block.Type == "Text")
            {
                <p>@block.Description</p>
            }
            else if (block.Type == "List")
            {
                <ul>
                    @foreach (var item in block.ListItems!)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
        </div>
    </div>
}
